@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on Hover */
::-webkit-scrollbar-track:hover {
  background: #555;
}

.icon-button-no-hover:hover {
  background-color: inherit !important;
}
.db-first-row-box1 {
}
.db-second-row-box1 {
  grid-column: "span 8";
  grid-row: "span 2";
}
.margin-20 {
  margin: 20px;
}
.dashboard-wrapper {
  .flex-space-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .grid-maker {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 140px;
    gap: 20px;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
